body {
  margin: 0;
  background: #f5f7fb;
  font-family: Arial, sans-serif;
}

.container {
  width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.subtitle {
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea,
select {
  padding: 12px;
  font-size: 16px;
}

button {
  padding: 14px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.report {
  margin-top: 30px;
  background: #eef5ff;
  padding: 20px;
  border-radius: 10px;
}

pre {
  white-space: pre-wrap;
}